CMakeCache.txt
CMakeFiles/*
Makefile
android/ant.properties
android/bin/*
android/gen/*
android/libs/*
android/local.properties
android/obj/*
cmake_install.cmake
pack/*.cpack
tunneltanks
/SDL/docs/
/Build/
/obj/
*.vcxproj.user
**/.vs/
/packages/
/sdl2/test/**/*.bmp
/debug_*.bmp
/sdl2/**/*.bmp
