# Build output
build/
artifacts/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db
*.ipch

# C++ intermediate
*.obj
*.pch
*.pdb
*.ilk
*.exp
*.lib
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt

# .NET
**/obj/
**/bin/
**/out/
*.nupkg
*.snupkg
project.assets.json

# NuGet
**/packages/

# Profiling
VTune Profiler Results/

# Debug artifacts
debug_*.bmp

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDE
*.swp
*~
.idea/
